*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* color: white; */
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(90deg, #2e2e45, #000);
}
h2{
    color: white;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
#todo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100vh;
    /* margin: 50px auto; */
 background-image: linear-gradient(
  90deg,
  rgba(46, 46, 69, 0.85),
  rgba(0, 0, 0, 0.6)
);
backdrop-filter: blur(8px);

}
.card{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    /* border: 2px solid goldenrod; */
    box-shadow: 0px 5px 15px goldenrod ;
background-image: linear-gradient(
  90deg,
  rgba(46, 46, 69, 0.85),
  rgba(0, 0, 0, 0.6)
);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px )
}
h1{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: -10px;
}
p{
    color: white;
    font-size: 14px;
    text-align: center;
    font: 1em sans-serif;
    font-weight: 300;
    margin-top: 20px;

}
a{
    color: white;
    font-size: larger;
    text-decoration: none;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #ffcc00, #ff9900);
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* width: 100%; */

}
button:hover{
    background-image: linear-gradient(90deg, #ff9900, #ff6600);
    width: 100%;
    transition: background-color 0.3s ease, width 0.3s ease;
    transition-duration: 3s;
}