*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
    font-weight: bold;
}

body{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    text-align: center;
    background:url(../calculater/3rd.avif);
    background-size: cover;
    margin-top: 30px;
}
.calculater{
    padding: 20px;
    border: 2px solid;
    border-radius: 16px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.2);
}
input{
    width: 320px;
    margin: 20px;
    padding: 10px;
    background: rgb(225, 225, 225, 0.3);
    box-shadow: inset 0px, 0px, 8px, rgba(0, 0, 0, 0, 0, 0.4);
    font-size: 55px;
    text-align: right;
    font-family: arial;
    border: 2px solid rgb(0, 0, 0, 0.3);
    border-radius: 16px;
    text-shadow: 0px, 1px, 5px, rgb(0, 0, 0, 0.2) ;
}
input::placeholder{
    color: #fff;
}

button{
    width: 60px;
    height: 60px;
    color: ghostwhite;
    border:solid 1px rgb(225, 225, 225, 0.7);
    border-radius: 8px;
    margin: 5px;
    background: rgb(0, 0, 0, 0.7);
    font-size: 24px;
    text-shadow: 0px, 1px, 5px, rgb(0, 0, 0, 0.2) ;
    box-shadow: -1px, 2px, 10px, rgb(0, 0, 0, 0.5) ;
    cursor: pointer;   
}
.ac, .del{
    font-size: 20px;
}
button:hover{
    color: #fff;
    background-color: rgb(198, 172, 28);
}
.equalbtn{
    background-color: rgb(198, 172, 28);
}
.operater{
    color:rgb(198, 172, 28) ;
}